* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #373737;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
}

.result {
  font-size: 40px;
  color: #ffff;
}

.text {
  font-size: 30px;
  color: #fff2f2;
  width: 800px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
  opacity: 0;
  cursor: default;
  z-index: 10;
}

.correct {
  background-color: #327900;
}

.incorrect {
  background-color: red;
}
